<div class="parentcontainer d-flex flex-column justify-content-around align-self-center">

    <div class="container d-flex justify-content-around p-4">
        
    
        
        <div class="card" style="width: 300px;">
            <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around p-4">
    
    
    
    <div class="card" style="width: 300px;">
        <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg" class="w-100 border-bottom" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Here is some example text to make up the card's content. Replace it with your own text anytime.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>
</div>